<!-- header -->
<header class="header">
    <div class="header__inner">
        <div class="header__left">
            <a class="header__logo" href="/">
                <img src="assets/img/logo.svg" alt="Geo sidemount diving">
            </a>
            <div class="header__action">
                <div class="header__lang lang-dropdown">
                    <a class="header__lang-item" href="#">
                        <span>LV</span>
                        <svg width="7" height="6" viewBox="0 0 7 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.5 6L0.468911 0.75L6.53109 0.75L3.5 6Z" fill="black" /></svg>
                    </a>
                    <ul class="language-chooser language-chooser-both qtranxs_language_chooser" id="language-chooser">
                        <li><a href="/en/" class="qtranxs_flag qtranxs_flag_en qtranxs_flag_and_text" title="En (en)"><span>En</span></a></li>
                    </ul>
                    <div class="qtranxs_widget_end"></div>
                </div>
                <a class="header__left--link" href="#">
                    <span>Services</span>
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13.2021 11.2002H11.8018V5.18848L3.70703 13.2832L2.71875 12.2949L10.8135 4.2002H4.80176V2.7998H13.2021V11.2002Z" fill="#176DAA"/></svg>
                </a>
            </div>
        </div>

        <!-- middle -->
        <div class="header__middle">
            <ul class="header__menu">
                <li><a href="catalog.html">Products</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

        <!-- right -->
        <div class="header__right">
            <a href="#" class="account-link">Login</a>
            <a href="#" class="cart cart-link">
                <span class="cart-text">Cart</span>
                <span class="cart-count">7</span>
            </a>
            <button class="burger">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>
    </div>
</header>
<!-- /header -->

<!-- Mobile Menu -->
<div class="mobile-menu">
    <div class="mobile-menu__content">
        <ul class="mobile-menu__menu">
            <li>
                <div class="nav-link-wrap">
                    <a href="catalog.html">Products</a>
                </div>
            </li>
            <li>
                <div class="nav-link-wrap">
                    <div class="nav-link-line"></div>
                    <a href="#">Services</a>
                </div>
            </li>
            <li>
                <div class="nav-link-wrap">
                    <div class="nav-link-line"></div>
                    <a href="#contact">Contact</a>
                </div>
            </li>
            <li>
                <div class="nav-link-wrap">
                    <div class="nav-link-line"></div>
                    <a href="#" class="account-link mobile-account-link">Login / Sign up</a>
                    <div class="nav-link-line"></div>
                </div>
            </li>
        </ul>
        <div class="mobile-menu__action">
            <a class="header__call" href="tel:+37123111390">+371 23 111 390</a>
            <div class="mobile-menu__lang">
                <ul class="language-chooser language-chooser-text qtranxs_language_chooser" id="language-chooser">
                    <li class="lang-en active"><a href="/en/" title="English (en)" class="qtranxs_text qtranxs_text_en" data-mobile-menu-link="true"><span>EN</span></a></li>
                    <li class="lang-ru"><a href="/ru/" title="Русский (ru)" class="qtranxs_text qtranxs_text_ru" data-mobile-menu-link="true"><span>RU</span></a></li>
                    <li class="lang-lv"><a href="/lv/" title="Latviešu (lv)" class="qtranxs_text qtranxs_text_lv" data-mobile-menu-link="true"><span>LV</span></a></li>
                </ul>
                <div class="qtranxs_widget_end"></div>
            </div>
        </div>
    </div>
</div>
<!-- /Mobile Menu -->